body {
	background-color: #C8E6C9; 
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.form {
	background-color: #4CAF50;
	box-sizing: border-box;
	color: #FFFFFF;
	display: block;
	margin: 25px auto;
	min-width: 300px;
	overflow: hidden;
	width: 30%;
}

.form h2 {
	background-color: #388E3C;
	box-sizing: border-box;
	color: #FFFFFF;
	display: inline-block;
	font-weight: 400;
	margin: 0;
	overflow-left: scroll;
	padding: 20px;
	width: 100%;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.form label {
	display: inline-block;
	font-size: 18px;
	margin: 10px 15px 3px;
	width: 100%;
}

.form label:first-of-type {
	margin-top: 30px;
}

.form input {
	background-color: #C8E6C9;
	border: solid 3px #C8E6C9;
	box-sizing: border-box;
	color: #000000;
	margin-left: 10%;
	padding: 3px 5px;
	width: 80%;
}

.form input:focus {
	border: solid 3px #FFEB3B;
}

.form input[type=submit] {
	background-color: #FFEB3B;
	border: none;
	border-bottom: solid 3px #DDC919;
	border-radius: 0;
	color: #FFFFFF;
	display: block;
	font-family: "Oswald", sans-serif;
	font-size: 24px;
	font-weight: 400;
	height: 50px;
	margin: 10px auto;
	width: 125px;
	transition: all .25s ease;
}

.form input[type=submit]:hover {
	background-color: #DDC919;
	border-bottom: solid 3px #FFEB3B;
}

.form h3 {
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 15px;
	text-align: center;
}

.form h3 a {
	color: #FFEB3B;
}

.wrapper {
	background-color: #4CAF50;
	display: block;
	max-width: 960px;
	margin: 0 auto;
	width: 90%;
}

.greenBack {
	background-color: #4CAF50;
	display: inline-block;
	width: 100%;
}

header {
	background-color: #388E3C;
	box-sizing: border-box;
	color: #FFFFFF;
	display: inline-block;
	font-weight: 400;
	margin: 0;
	overflow-left: scroll;
	padding: 20px;
	width: 100%;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

header h2 {
	display: inline-block;
	font-size: 28px;
	margin: 0;
}

header nav {
	float: right;
}

header nav ul {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
	width: 50%;
}

header nav ul a {
	color: #FFFFFF;
}

header nav ul a:hover {
	color: #FFEB3B;
}

header nav ul li {
	display: inline;
	font-size: 24px;
	padding: 0 15px;
}

a {
	text-decoration: none;
}

.categoryDiv {
	box-sizing: border-box;
	float: left;
	height: 225px;
	margin: 20px 2.5%;
	width: 28%;
}

.categoryDiv:hover .categoryName {
	color: #FFEB3B;
}

.categoryDiv:nth-of-type(3n+1){
	margin-left: 2%;
}

.categoryDiv:nth-of-type(3n+0){
	margin-right: 2%;
}

.categoryDiv div {
	height: 200px;
}

.categoryDiv img {
	display: block;
	margin: 0 auto;
	max-height: 200px;
	max-width: 100%;
}

.categoryName {
	color: #FFFFFF;
	background-color: #388E3C;
	display: block;
	height: 25px;
	text-align: center;
	text-decoration: none;
}

table {
	color: #FFFFFF;
	overflow: visible;
	padding: 0 2.5%;
	width: 100%;
}

.productTR {
	margin: 0 2.5%;
	width: 95%;
}

.prodName {
	display: inline-block;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 15px;
	width: 100%;
}

.productTR img {
	padding: 15px 0 15px 25px;
	width: 200px;
}

.productTR td:nth-of-type(3n+1) {
	width: 25%;
}

.productTR td:nth-of-type(3n+2) {
	width: 65%;
}

.productTR td:nth-of-type(3n+3) {
	text-align: center;
	width: 15%;
}

.productTR:nth-of-type(2n) {
	background-color: #499F4D;
}